@font-face {
    font-family: Regular;
    src: url(FontOfKindness.otf);
}

* {
    font-family: Regular;
    font-size: 150%;
    color: black;
    font-weight:
}

p {
    font-size: 150%;
}

a {
    font-size: 100%;
    font-weight:
}

div {
    margin-top: 1%;
}

img {
  width: 25%;
  height: 25%;
  margin: 1%;
  vertical-align: middle;
}

body {
  text-align: center;
}

.physical {
  width: 10%;
  height: 10%;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.social {
  width: 3%;
  height: 3%;
}

.logo {
    width: 17%;
    height: 17%;
}

.social-link {
  margin-top: 0px;
  display: contents;
}

.title {
    margin-bottom: 0px;
    font-size: 150%;
}

.links {
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .social {
        display: inline-block;
        width: 12%;
        height: 12%;
        padding-bottom: 0px;
    }
    .title {
        display: block;
        margin: 0%;
        font-size: 250%;
    }

    .logo {
        padding-top: 10%;
        width: 50%;
        height: 50%;
    }

    img {
        width: 90%;
        height: 90%;
        vertical-align: middle;
        display: block;
        padding-bottom: 10%;
        margin: auto;
    }

    .links {
        margin-bottom: 10%;
        margin-top: 10%;
    }
}