@font-face {
    font-family: Regular;
    src: url(OpenSansCondensed-Light.ttf);
}

* {
    font-family: Regular;
    font-size: 150%;
}

img {
  width: 20%;
  height: 20%;
  margin: 1%;
vertical-align: middle;
}
body {
  text-align: center;
}
