@font-face {
    font-family: Regular;
    src: url(OpenSansCondensed-Light.ttf);
}

* {
    font-family: Regular;
    font-size: 150%;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

img {
  width: 25%;
  height: 25%;
  margin: 1%;
vertical-align: middle;
}
body {
  text-align: center;
}
