@font-face {
    font-family: Regular;
    src: url(IBM-Plex-Mono/IBMPlexMono-Regular.otf);
}
@font-face {
  font-family: Bold;
  src: url(IBM-Plex-Mono/IBMPlexMono-Bold.otf);
}

@media screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
  .header a {
    float: none;
    display: block;
    /* text-align: left; */
  }
  .header-right {
    float: none;
  }
  .text {
    width: 90%;
  }
}
@media screen and (min-width: 600px) {
  .text {
    width: 50%;
  }
}

* {
    font-family: Regular;
    color: black;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
}
  
/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  height: 25%;
}
  
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header img.logo {
  width: 10rem;
}
  
/* Change the background color on mouse-over */
.header a:hover {
  text-decoration: underline;
}
  
/* Style the active/current link*/
.header a.active {
  text-decoration: underline;
}
  
/* Float the link section to the right */
.header-right {
  float: right;
}

.title {
  text-align: center;
}

.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.game-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.text {
  text-align: left;

  margin-left: auto;
  margin-right: auto;
}

.texts {
  text-align: center;
}

.texts-link {
  text-decoration: none;
}
.texts-link:hover {
  text-decoration: underline;
}

.art-image {
  width: 20rem;
}

.art {
  text-align: center;
}

.lists {
  text-align: center;
}