@font-face {
    font-family: Regular;
    src: url(FontOfKindness.otf);
}

* {
    font-family: Regular;
    font-size: 150%;
    color: black;
}

label {
    font-size: 100%;
}

p {
    font-size: 150%;
    margin: 0px;
}

a {
    font-size: 100%;
}

div {
    margin-top: 1%;
}

img {
  width: 25%;
  height: 25%;
  margin-bottom: 2%;
  vertical-align: middle;
}

body {
  text-align: center;
}

.link {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  margin-top: 0px;
  display: contents;
}

.list-link {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    margin-top: 0px;
}

.social {
  width: 3%;
  height: 3%;
}

.logo {
    width: 17%;
    height: 17%;
}

.title {
    margin-bottom: 0px;
    font-size: 150%;
}

.links {
    margin-bottom: 50px;
}

.lists-img {
    width: 10%;
    height: 10%;
}

.exp {
    margin-left: 2%;
    text-align: left;
}

.exp-txt {
    font-size: 80%;
    margin-right: 0%;

}
.exp-img {
    width: 12%;
    height: 12%;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

@media (max-width: 1000px) {
    .social {
        display: inline-block;
        width: 12%;
        height: 12%;
        padding-bottom: 0px;
    }
    .title {
        display: block;
        margin: 0%;
        font-size: 250%;
    }

    .logo {
        padding-top: 10%;
        width: 50%;
        height: 50%;
    }

    img {
        width: 90%;
        height: 90%;
        vertical-align: middle;
        display: block;
        padding-bottom: 10%;
        margin: auto;
    }

    .links {
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .lists-img {
        width: 50%;
        height: 50%;
    }

    p {
        font-size: 180%;
        margin: 0px;
    }
    a {
        font-size: 180%;
        margin: 0px;
    }
    .exp-img {
        width: 60%;
        height: 60%;
        padding: 3%;
    }

    .exp {
        margin-left: 2%;
        text-align: center;
    }
    
    .exp-txt {
        font-size: 80%;
        margin-right: 0%;
    }
}

input[type='checkbox'] { display: none; } 
.wrap-collabsible { margin: 1.2rem 0; } 
/*.lbl-toggle { display: block; font-weight: bold; font-size: 1.2rem; text-transform: uppercase; text-align: center; padding: 1rem; color: #DDD; background: #0069ff; cursor: pointer; border-radius: 7px; transition: all 0.25s ease-out; } 
*/
.lbl-toggle:hover {  font-weight: bold; }
.toggle:checked+.lbl-toggle::before { transform: rotate(90deg) translateX(-3px); } 
.collapsible-content { max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; } 
.toggle:checked + .lbl-toggle + .collapsible-content { max-height: 100%; } 
.toggle:checked+.lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; } 

.collapsible-content p { margin-bottom: 0; }
.collapsible-content {
    margin-left: 1%; 
    margin-right: 1%;
}