@font-face {
    font-family: Regular;
    src: url(OpenSansCondensed-Light.ttf);
}

* {
    font-family: Regular;
    font-size: 150%;
}

img {
  width: 40%;
  height: 40%;
  margin: 1%;
}
body {
  text-align: center;
}
