@font-face {
    font-family: Regular;
    src: url(FontOfKindness.otf);
}

* {
    font-family: Regular;
    font-size: 150%;
    color: black;
    font-weight:
}

p {
    font-size: 150%;
}

a {
    font-size: 100%;
    font-weight:
}

div {
    margin-top: 1%;
}

img {
  width: 25%;
  height: 25%;
  margin: 1%;
  vertical-align: middle;
}
body {
  text-align: center;
}

.physical {
  width: 10%;
  height: 10%;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.categories:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.categories:hover:after {
  width: 100%;
  left: 0;
}

.social {
  width: 2%;
  height: 2%;
}

.social-link {
  margin-top: 0px;
  display: contents;
}

.title {
    margin-bottom: 0px;
    font-size: 150%;
}

.links {
    margin-bottom: 100px;
}
